header {
    height: 700px;
    width: 100%;
    background-color: var(--footer-color2);
    overflow: hidden;
    position: relative;
}

header figure {
    position: relative;
    width: 400%;
    left: 0;
    margin: 0;
    animation: 20s slide infinite;
}

header .showcase {
    height: 100%;
    width: 25%;
    float: left;
    position: relative;
}

header section {
    position: absolute;
    left: calc(35% / 2);
    top: calc(100% / 2.75);
    z-index: 1;
}

header section h1, h3 {
    margin: 0;
}

header section h3 {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.9em;
}

header section h1 {
    color: white;
    font-weight: 500;
}

header section p {
    color: var(--text-color);
    font-size: 1.2em;
    max-width: 35ch;
}

header section button {
    border: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 10px;
    transition: ease-in-out 150ms;
    cursor: pointer;
    color: white;
}

header section button:hover {
    background-color: #1f4cb4;
}

header .showcase img {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 1;
    max-width: 800px;
}

header .bg {
    background-color: var(--secondary-color);
    height: 700px;
    width: 40%;
    float: right;
    position: relative;
}

header .bg:before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 500px solid transparent;
    border-bottom: 700px solid var(--secondary-color);
    border-left: 500px solid transparent;
    border-right: 0px solid var(--secondary-color);
    position: absolute;
    top: -500px;
    left: -500px;
}

header .showcase:nth-child(2) .bg {
    background-color: var(--primary-color);
}

header .showcase:nth-child(2) .bg:before {
    border-bottom: 700px solid var(--primary-color);
    border-right: 0px solid var(--primary-color);
}

@keyframes slide {
    0% {
        left: 0;
    }
    50% {
        left: 0;
    }
    55% {
        left: -100%;
    }
    95% {
        left: -100%;
    }
    100% {
        left: -200%;
    }
}

.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 3;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
    transform: rotate(180deg);
}

.wave .shape-fill {
    fill: #FFFFFF;
}

main {
    height: 400px;
}

main section {
    position: absolute;
    left: calc(35% / 2);
}

main h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-color);
}

main h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--footer-color2);
    margin: 0;
    margin-top: 10px;
}

main .info {
    position: relative;
    width: 100vw;
    margin-top: 25px;
}

main .info section {
    position: absolute;
    left: 0;
    z-index: 1;
}

main .info section:last-child {
    left: 450px;
}

main p {
    max-width: 40ch;
}

main p a {
    color: var(--primary-color);
    text-decoration: none;
}